<div class="container">
  <h4 class="section">Services located in the area:</i></h4>
  <div class="excavation center-detail mechanical-dig">

    <% @permit.attributes.to_a[(13..24)].each do |ele| %>
      <% if ele[1] == true %>
        <p class="tag"><%= ele[0].gsub(/_/, " ").capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <h4 class="section">Mechanical dig:</h4>
  <div class="mechanical-dig center-detail">
    <% @permit.attributes.to_a[(25..33)].each do |ele| %>
      <% if ele[1] == true %>
        <p class="tag"><%= ele[0].gsub(/_/, " ").capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>
<br>
<div class="container">
  <h4 class="section">Excavation dimensions:</h4>
  <div class="excavation center-detail move">
    <div class="permit-images" style="margin-top: 5vh; margin-bottom:10vh;">
      <%= image_tag("dimension.jpg") %>
      <%= image_tag("dimension2.jpg") %>
    </div>
    <p class="width">xwidth: <strong><%= @permit.xwidth %>mm</strong></p>
    <p class="depth">xdepth: <strong><%= @permit.xdepth %>mm</strong></p>
    <p class="length">xlength: <strong><%= @permit.xlength %>m</strong></p>
  </div>
</div>
<br>
  <div class="container">
    <h4 class="section">Confirmation:</h4>
    <div class="excavation center-detail container-permit-details">

      <div class="details">
          <p>Cat Scanner model: <strong><%= @permit.cat_scan_model %></strong></p>
          <p>Serial number: <strong><%= @permit.cat_scan_model %></strong></p>
          <p>Genny model: <strong><%= @permit.genny_model %></strong></p>
          <p>Serial number: <strong><%= @permit.genny_serial %></strong></p>
          <p>Operator: <strong><%= @permit.cat_genny_operator %></strong></p>
      </div>
<!--
      <h4 class="center-text"><strong>Modes used:</strong></h4>
      <div class="mechanical-dig center-detail">
        <% if @permit.cat_mode_power == true %>
          <p class="tag">Power</p>
        <% end %>
        <% if @permit.cat_mode_radio == true %>
          <p class="tag">Radio</p>
        <% end %>
        <% if @permit.cat_mode_transmitter == true %>
          <p class="tag">Transmitter</p>
        <% end %>
      </div>
    </div> -->
  </div>
</div>



