<h1>My Permits</h1>

<% @permits.each do |permit| %>
  <%= link_to permit_path(permit) do %>
    <p><%= permit.id %></p>
    <p><%= permit.title %></p>
    <p><%= permit.author.first_name %> <%= permit.author.last_name %></p>
    <p><%= permit.status %></p>
    <p><%= permit.permit_type %></p>
    <p><%= permit.created_at %></p>
    <p><%= permit.level%> | <%= permit.location %></p>
  <% end %>
<% end %>
