<div class="selected-section" data-id="2">
  <div class="container">
    <div class="excavation center-detail move">
      <div class="permit-images">
        <%= image_tag("dimension.jpg") %>
        <%= image_tag("dimension2.jpg") %>
      </div>
      <p class="width">xwidth: <strong><%= @permit.xwidth %>mm</strong></p>
      <p class="depth">xdepth: <strong><%= @permit.xdepth %>mm</strong></p>
      <p class="length">xlength: <strong><%= @permit.xlength %>m</strong></p>
    </div>
  </div>
</div>
