<div class="filter-row">
   <button class="btn btn-green2 font12 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Permits</button>
     <div class="dropdown-menu" id="dropdown" aria-labelledby="dropdownMenuButton">
       <ul id="status-list">
         <li><%= link_to "All", dashboard_path %></li>
         <li><%= link_to "Approved", dashboard_path(status:  "approved") %></li>
         <li><%= link_to "Pending", dashboard_path(status:  "pending") %></li>
         <li><%= link_to "Rejected", dashboard_path(status:  "rejected") %></li>
         <li><%= link_to "Drafts", dashboard_path(status:  "draft") %></li>
       </ul>
     </div>
     <button class="btn btn-green2 font12" id="selecta"><%= link_to "My approved", dashboard_path(status:  "approved", author_id: current_user.id) %></button>
     <button class="btn btn-green2 font12" id="selecta"><%= link_to "To be approved", dashboard_path(status:  "pending approval", author_id: current_user.id) %></button>
     <button class="btn btn-green2 font12" id="selecta"><%= link_to "My rejections", dashboard_path(status:  "rejected", author_id: current_user.id) %></button>
     <button class="btn btn-green2 font12" id="selecta"><%= link_to "My drafts", dashboard_path(status: "draft", author_id: current_user.id) %></button>
 </div>
  <div style="overflow: scroll">
     <table class="table table-hover" id="permit-table">
       <thead>
         <tr>
           <th scope="col">Permit ID</th>
           <th scope="col">Title</th>
           <th scope="col">Type</th>
           <th scope="col">Start-date</th>
           <th scope="col">Exp-date</th>
           <th scope="col">Author</th>
           <th scope="col">Status</th>
         </tr>
       </thead>
        <tbody>
        <div class="table-rows-each">
         <% @all_permits[0..4].each do |permit| %>
               <%= link_to permit_path(permit) do %>
                 <td class="row-text" scope="row"> <%= link_to permit.permit_number, permit_path(permit) %></td>
                 <td class="row-text"> <%= permit.title %> </td>
                 <td class="row-text"> <%= permit.permit_type.capitalize %> </td>
                 <td> <%= permit.short_date(permit.start_date) %> </td>
                 <td> <%= permit.short_date(permit.end_date) %> </td>
                 <td class="row-text"> <%= permit.author.first_name[0].capitalize + " " + permit.author.last_name.capitalize %> </td>
                 <td class="row-text"> <%= permit.status.capitalize %> </td>
               <% end %>
             </tr>
         <% end %>
        </div>
          </div>
       </tbody>
     </table>
   </div>
   <div class="index-btm">
     <p>Show more</p>
 </div>


