<div class="my-perm-index">
  <div class="index-cards">
    <% if @pending_permits.present? %>
      <% @pending_permits.each do |permit| %>
        <%= link_to permit_path(permit) do %>
          <div class="permit-card">
            <div class="permit-sections">
              <div class="card-top">
              <p class="charcoal"><%= permit.permit_number %></p>
              <h2 class="charcoal"><%= permit.title %></h2>
              </div>
              <div class="card-mid">
                <div class="permit-type-container">
                <%= image_tag (permit.permit_type_img), class: "permit-type-img" %>
                </div>
              </div>
              <div class="icons-container">
                <span class="charcoal text-status"><%= permit.status %></span>
                <i class="icon-status <%= permit.status_icon %>"></i>
                <div class="img-tooltip">
                  <%= image_tag((permit.author.avatar), class: "avatar-sml")%>
                  <span class="tooltip-text">author <%= permit.author.short_last_name %></span>
                </div>
              </div>
              <div class="card-bottom">
                <p class="grey-light"><span class="charcoal">Valid:</span>  <%= permit.date_time(permit.start_date) %> <span class="charcoal">to</span> <%= permit.date_time(permit.end_date) %></p>
                <p class="validity"></p>
              </div>
            </div>
          </div>
      <% end %>
      <% end %>
    <% else %>
      <div class="nothing-card">
        <h5>no actions</h5>
        <hr>
        <i class="fas fa-clipboard-check"></i>
      </div>
    <% end %>
  </div>
</div>
