<div class="filter-row">
    <button class="btn btn-green2"><%= link_to "All permits", dashboard_path %></button>
    <button class="btn btn-green2"><%= link_to "Previous breifings", dashboard_path %></button>
  </div>
<div style="overflow: scroll">
  <table class="table table-hover" id="permit-table">
    <thead>
      <tr>
        <th scope="col">Permit ID</th>
        <th scope="col">Title</th>
        <th scope="col">Type</th>
        <th scope="col">Start-date</th>
        <th scope="col">Exp-date</th>
        <th scope="col">Author</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% @all_permits[0..9].each do |permit| %>
        <%= link_to permit_path(permit) do %>
          <tr>
              <td scope="row"> <%= link_to permit.permit_number, permit_path(permit) %></td>
              <td> <%= permit.title %> </td>
              <td> <%= permit.permit_type.capitalize %> </td>
              <td> <%= permit.short_date(permit.start_date) %> </td>
              <td> <%= permit.short_date(permit.end_date) %> </td>
              <td> <%= permit.author.first_name[0] + " " + permit.author.last_name %> </td>
              <td> <%= permit.status.capitalize %> </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
<div class="index-btm">
  <p>show more</p>
</div>
