<div class="my-perm-index">
  <div class="index-cards">
    <% if @permits.present? %>
      <% @permits.each do |permit| %>
        <%= link_to permit_path(permit) do %>
          <div class="permit-card">

          <div class="card-top">
            <p class="charcoal"><%= permit.permit_number %></p>
            <h2 class="charcoal">Title: <%= permit.title %></h2>
          </div>

          <div class="card-mid">
            <%= image_tag (permit.permit_type_img), class: "permit-type-img" %>
            <div class="">
              <i class="icon-status <%= permit.status_icon %>"></i>
              <div class="img-tooltip">
                <%= image_tag((permit.author.avatar), class: "avatar-sml")%>
                <span class="tooltip-text"><%= permit.author.short_last_name %></span>
              </div>
            </div>
          </div>

          <div class="card-bottom">
            <p class="grey-light"><span class="charcoal">Valid:</span>  <%= permit.date_time(permit.start_date) %> <span class="charcoal">to</span> <%= permit.date_time(permit.end_date) %></p>
          </div>
</div>

<!--   <%= permit.title %>
  <%= permit.author_first_name %> <%= permit.author_last_name %>
  <%= permit.status %>
  <%= permit.permit_type %>
  <%= permit.start_date %>
  <%= permit.end_date %>
  <%= permit.level%>
  <%= permit.location %>
  <%= permit.author.short_last_name %>


  <%= image_tag((permit.permit_type_img), class: "permit-type-img") %> -->


        <% end %>
      <% end %>
    <% else %>
      <h3>Nothing to see here!</h3>
    <% end %>
  </div>
</div>
