<div class="selected-section show-section" data-id="1">
  <div class="container-permit-details center-detail">
    <h2 class="center-text"><strong>Project <%= @permit.project_id %></strong></h2>
    <p class="center-text"><%= @permit.permit_number %></p>
    <div class="two-grid center-text">
      <p><strong>Begins:</strong> <span class="begin"><%= @permit.start_date.strftime("%d-%m-%Y") %> <%= @permit.start_date.strftime("%I:%M%P") %></span></p> <p><strong>Expires:</strong> <span class="end"><%= @permit.end_date.strftime("%d-%m-%Y") %> at <%= @permit.end_date.strftime("%I:%M%P") %></span></p>
    </div>
    <!-- To be deleted when js logic is made -->
    <p class="center-text">Expires in xxx days</p>
    <% if @permit.status == "draft" %>
      <p class="center-text status-show"><i><strong>DRAFT</strong></i></p>
    <% elsif @permit.status == "pending approval" %>
      <p class="center-text status-show">Awaiting approval from <strong><%= @approver %></strong></p>
    <% elsif @permit.status == "approved" %>
      <p class="center-text status-show">Approved by: <strong><%= @approver %></strong></p>
    <% elsif @permit.status == "rejected" %>
      <p class="center-text status-show">Permit rejected by: <strong><%= @approver %></strong></p>
    <%# elsif @permit.status == "expired" %>
      <!-- <p><strong>Permit expired</strong></p> -->
    <% end %>

    <div class="details">
      <div>
        <p><strong>Permit title:</strong></p>
        <p><strong>Level:</strong></p>
        <p><strong>Location:</strong></p>
        <p><strong>Method Statement:</strong></p>
        <p><strong>Permit Type:</strong></p>
      </div>
      <div class="detail-info">
        <p><%= @permit.title %></p>
        <p><%= @permit.level %></p>
        <p><%= @permit.location %></p>
        <p><%= @permit.method_statement %></p>
        <p><%= @permit.permit_type %></p>
      </div>
    </div>
  </div>
</div>
