<%= link_to permits_path do %>
  <h2 id="results-back"><i class="fas fa-arrow-left" id="results-back"></i> Search Results</h2>
<% end %>

  <h4>permits (<%= @search_permits.size %>) found</h4>
  <div class="my-perm-index">
      <div class="index-cards">
        <% @search_permits.each do |permit| %>
          <%= link_to permit_path(permit) do %>
            <div class="permit-card">
              <div class="permit-sections">
                <div class="card-top">
                <p class="charcoal"><%= permit.permit_number %></p>
                <h2 class="charcoal"><%= permit.title %></h2>
                </div>
                <div class="card-mid">
                  <div class="permit-type-container">
                  <%= image_tag (permit.permit_type_img), class: "permit-type-img" %>
                  </div>
                </div>
                <div class="icons-container">
                  <i class="icon-status <%= permit.status_icon %>"></i>
                  <div class="img-tooltip">
                    <%= image_tag((permit.author.avatar), class: "avatar-sml")%>
                    <span class="tooltip-text"><%= permit.author.short_last_name %></span>
                  </div>
                </div>
                <div class="card-bottom">
                  <p class="grey-light"><span class="charcoal">Valid:</span>  <%= permit.date_time(permit.start_date) %> <span class="charcoal">to</span> <%= permit.date_time(permit.end_date) %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <h4>people (<%= @search_users.size %>) found</h4>
  <div class="my-perm-index">
      <div class="index-cards" id="person-cards">
            <div class="user-card">
               <% @search_users.each do |user| %>
                  <%= link_to user_path(user) do %>
                    <div class=left-card">
                      <img class="card-pic" style="background-image: url(<%= user.avatar %>);" alt="">
                    </div>
                    <div class="right-card">
                      <%= user.first_name %> <%= user.last_name %>
                      <hr>
                      <%= user.role %>
                    </div>
                  <% end %>
                <div class="card-email">
                  <%= link_to user.email %>
                </div>
            </div>
          <% end %>
    </div>
  </div>
