<div class="banner">
       <div class="banner-logo">
          <%= link_to dashboard_path do %>
          <%= image_tag(("logo-emerald-lrg-bright.png"), class: "emerald-logo homepage-logo") %>
          <% end %>
          <% if current_user %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-login-home" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "btn btn-login-home" %>
          <% end %>
        </div>
    <div class="banner-text">
        <h1 id="banner-head">Build safer with <span id="name">Emerald</span></h1>
        <div class="p-container">
          <p id="banner-p">Create, monitor and manage your permits to reduce risks to worker safety, delays and to save money across all of your projects.</p>
        </div>
        <% if current_user %>
          <%= link_to 'Dashboard', dashboard_path, class: "btn-green btn"%>
        <% else %>
          <%= link_to 'Sign up', new_user_registration_path, class: "btn-green btn"%>
        <% end %>
  </div>
</div>
