<div class="container col-9">

  <div class="top-index">
    <h2>permits</h2>

    <%= link_to new_permit_path do %>
      <button class="btn btn-green">New Permit</button>
    <% end %>
  </div>

  <h4>recent permits</h4>
  <div class="my-perm-index">
      <div class="index-cards">
        <% @permits[0..3].each do |permit| %>
          <%= link_to permit_path(permit) do %>
            <div class="permit-card">
              <p><%= permit.title %></p>
              <p><%= permit.author.first_name %> <%= permit.author.last_name %></p>
              <p><%= permit.status %></p>
              <p><%= permit.permit_type %></p>
              <p><%= permit.created_at %></p>
              <p><%= permit.level%> | <%= permit.location %></p>
            </div>
          <% end %>
        <% end %>
    </div>
  </div>

  <div class="filter-row">
    <button class="btn btn-green2"><%= link_to "all permits", permits_path %></button>
    <button class="btn btn-green2">my drafts</button>
    <button class="btn btn-green2 dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">status</button>
      <div class="dropdown-menu" id="dropdown" aria-labelledby="dropdownMenuButton">
        <ul id="status-list">
          <li><%= link_to "approved", dashboard_path(status:  "approved") %></li>
          <li><%= link_to "pending", dashboard_path(status:  "pending") %></li>
          <li><%= link_to "rejected", dashboard_path(status:  "rejected") %></li>
          <li><%= link_to "draft", dashboard_path(status:  "draft") %></li>
        </ul>
      </div>
  </div>
  <table class="table table-hover" id="permit-table">
    <thead>
      <tr>
        <th scope="col"># ID</th>
        <th scope="col">author</th>
        <th scope="col">type</th>
        <th scope="col">created</th>
        <th scope="col">status</th>
      </tr>
    </thead>
    <tbody>
      <% @all_permits[0..4].each do |permit| %>
          <tr>
            <%= link_to permit_path(permit) do %>
            <th scope="row"> <%= permit.id %></th>
            <td> <%= permit.author.first_name + " " + permit.author.last_name %> </td>
            <td> <%= permit.permit_type %> </td>
            <td> <%= permit.created_at %> </td>
            <td> <%= permit.status %> </td>
            <% end %>
          </tr>
      <% end %>
    </tbody>
  </table>
  <div class="index-btm">
    <p>show more</p>
  </div>
</div>



<h1>to approve</h1>
<% @pending_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %>


<h1>approved</h1>
<% @approved_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %>

<h1>Rejected</h1>
<% @rejected_permits.each do |permit| %>
<%= link_to permit.title, permit_path(permit) %>
<% end %>
