<div class="body-container">
<!-- <div class="container col-11"> -->
  <% if params[:s] %>
    <%= render 'shared/search_results' %>
  <% end %>
  <!-- top header with add button -->
  <%= render 'shared/index_top_section' %>

  <!-- cards - DONE -->
  <% if current_user.approver %>
    <%= render 'shared/index_cards_approver' %>
  <% elsif current_user.author %>
    <%= render 'shared/index_cards_author' %>
  <% elsif current_user.admin %>
  <% else %>
    <%= render 'shared/index_cards_worker' %>
  <% end %>
  <!-- table -->
  <% if current_user.admin %>
    <%= render 'shared/index_table_admin' %>
  <% elsif current_user.author %>
    <%= render 'shared/index_table_auth.html.erb' %>
  <% elsif current_user.approver %>
    <%= render 'shared/index_table_app.html.erb' %>
  <% else %>
    <%= render 'shared/index_table_worker.html.erb' %>
  <% end %>
<!-- </div> -->

<%= javascript_pack_tag "validity" %>

</div>
