

<div class="container col-11">
  <% if params[:s] %>
    <%= render 'shared/search_results' %>
  <% end %>
  <!-- top header with add button -->
  <%= render 'shared/index_top_section' %>

  <!-- cards - DONE -->
  <% if current_user.approver %>
    <%= render 'shared/index_cards_approver' %>
  <% elsif current_user.author %>
    <%= render 'shared/index_cards_author' %>
  <% elsif current_user.admin %>
  <% else %>
    <%= render 'shared/index_cards_worker' %>
  <% end %>
  <!-- table -->
  <% if current_user.admin %>
    <%= render 'shared/index_table_admin' %>
  <% elsif current_user.author || current_user.approver %>
    <%= render 'shared/index_table_auth_app.html.erb' %>
  <% else %>
    <%= render 'shared/index_table_worker.html.erb' %>
  <% end %>
</div>


<script>
const permits = document.querySelectorAll('.card-bottom');
permits.forEach(permit => {
  const text = permit.innerText.split(" ");
  const startDate = text[1];
  const startTime = text[2];
  const endDate = text[4];
  const endTime = text[5];
  const dateMaker = (date, time) => {
    const dateArr = date.split("-");
    const hourArr = time.split(":");
    const dateTime = {
      day: parseInt(dateArr[0], 10),
      month: parseInt(dateArr[1], 10) - 1,
      year: parseInt(dateArr[2], 10),
      hour: parseInt(hourArr[0], 10),
      minutes: parseInt(hourArr[1], 10)
    }
    return dateTime;
  }
  let startDateObj = dateMaker(startDate, startTime);
  let endDateObj = dateMaker(endDate, endTime);

  // const startDateTime = new Date(startDateObj.year, startDateObj.month [, startDateObj.day [, startDateObj.hours [, startDateObj.minutes [, 0 [, 0]]]]]);
  // const endDateTime = new Date(endDateObj.year, endDateObj.month [, endDateObj.day [, endDateObj.hours [, endDateObj.minutes [, 0 [, 0]]]]]);

  // console.log(startDateTime);

});
</script>


<!-- <h1>to approve</h1>
<% @pending_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %> -->

<!--
<h1>approved</h1>
<% @approved_permits.each do |permit| %>
  <%= link_to permit.title, permit_path(permit) %>
<% end %>

<h1>Rejected</h1>
<% @rejected_permits.each do |permit| %>
<%= link_to permit.title, permit_path(permit) %>
<% end %> -->
