<div class="body-container">
  <div class="show-cont">
  <div class="top-three-sections">
    <div class="important-details">
      <div class="title-section">
        <h3><%= @permit.permit_type.capitalize %></h3>
        <h5><%= @permit.title %></h5>
        <p class="light">Description of Work</p>
        <p><%= @permit.works_description %></p>
        <p class="light">Level</p>
        <p><%= @permit.level %></p>
        <p class="light">Location</p>
        <p><%= @permit.location %></p>
        <p class="light">Permit Number</p>
        <p><%= @permit.permit_number %></p>
        <p class="light">Method Statement Reference</p>
        <p><%= @permit.method_statement %></p>

        <hr style="margin: 8px 0;">
        <div class="show-buttons">
        <% if @permit.who_with == @permit.author %>
          <% if @permit.author == current_user %>
            <% if @permit.status != "approved"  %>
              <div><%= link_to "Submit for Approval", permit_request_approval_path(@permit), method: :get, class: "btn btn-show show-green" %></div>
            <% end %>
              <div><%= link_to "Edit", edit_permit_path(@permit), class: "btn btn-show show-" %></div>
              <div><%= link_to 'Archive', permit_path(@permit), method: :delete, data: { confirm: "Archiving permit... are you sure?" }, class: "btn btn-show show-red " %></div>
          <% end %>
        <% elsif @permit.who_with == @permit.approver %>
          <% if @permit.author == current_user %>
            <div><%= link_to 'withdraw request', permit_recall_path(@permit), method: :get, class: "btn btn-show" %></div>
          <% elsif @permit.approver == current_user %>
            <div><%= link_to 'approve', permit_approve_path(@permit), class: "btn btn-show" %></div>
            <div><%= link_to 'reject', permit_reject_path(@permit), class: "btn btn-show" %></div>
          <% end %>
        <% end %>
        </div>

      </div>

      <div class="status-section">
        <h5>Document Status</h5>
        <p class="light">Status</p>
        <p id="permit-status"><%= @permit.status.capitalize %></p>
        <p class="light">Workflow</p>
        <i id="icon1" class="fas fa-circle i-grey i-trans"></i>
        <i id="icon2" class="fas fa-circle i-grey i-trans"></i>
        <i id="icon3" class="fas fa-circle i-grey i-trans"></i>
        <i id="icon4" class="fas fa-circle i-grey i-trans"></i>
        <hr style="margin: 8px 0;">
        <h5>Document Validity</h5>
        <p class="light">Start Date</p>
        <p id="start-date"><%= @permit.date_time(@permit.start_date) %> hrs</p>
        <p class="light">Expiry Date</p>
        <p id="end-date"><%= @permit.date_time(@permit.end_date) %> hrs</p>
        <p class="light">Validity</p>
        <p id="validity"></p>
      </div>
    </div>


    <div class="main-content">
      <div id="section-1">
        <%= render "shared/all" %>
      </div>
    </div>
  </div>

  <hr>

  <div class="bottom-bar">
    <div class="workers">
      <div class="people-show">
        <img class="avatar perm-av" src="<%= @permit.author.avatar %>" alt="">
        <div>
          <p class="light">Author</p>
          <p><%= @permit.author.fullname %></p>
        </div>
      </div>
      <hr style="margin: 8px 0;">
      <div class="people-show">
        <img class="avatar perm-av" src="<%= @permit.approver.avatar %>" alt="">
        <div>
          <p class="light">Approver</p>
          <p><%= @permit.approver.fullname %></p>
        </div>
      </div>
    </div>
    <div class="comment-section">
      <p><strong>Add a comment</strong></p>
      <form>
        <input id="comments" type="text">
        <input class="btn green-btn" id="comment-btn" type="submit" value="Submit">
      </form>
    </div>
    <div>
      <p id="post-head"><strong>Comments</strong></p>
      <p id="posted"></p>
    </div>
  </div>
  <% if @permit.site_layout_img %>
  <hr>
    <div>
      <h5>Location</h5>
      <%= image_tag((@permit.site_layout_img), class: "site-layout")%>
    </div>
  <% end %>
</div>
<div>
</div>



<%= javascript_pack_tag "workflow" %>

<script>
  const comment = document.getElementById('comments');
  const submit = document.getElementById('comment-btn');
  const posted = document.getElementById('posted');

  submit.addEventListener('click', (event) => {
    event.preventDefault();
    posted.insertAdjacentHTML("beforeend", `${comment.value} - JR<br>`);
    comment.value = "";
    <% if current_user.author %>
      setTimeout(typing, 4500);
    <% end %>
  });

  const typing = () => {
    posted.insertAdjacentHTML("beforeend", "<p>Yep, all done here Jonno! - ZH</p>");
  };


</script>

