<%= render 'shared/status_bar' %>

<div class="container" style="border: 2px solid $grey-lighter; padding: 0px; display: flex; min-height: 100vh; margin-top: 75px;">

<!-- Left side of the show, with the Clickable Sections -->
  <div class="section-container">
    <div class="section-item section-header-active" data-id="1"><p><span>Section 1</span><br>Permit Details</p></div>
    <div class="section-item" data-id="2"><p><span>Section 2</span><br>Excavation dimensions</p></div>
    <div class="section-item" data-id="3"><p><span>Section 3</span><br>Services located in the area</p></div>
    <div class="section-item" data-id="4"><p><span>Section 4</span><br>Confirmation</p></div>
    <div class="section-item" data-id="5"><p><span>Section 5</span><br>Mechanical Dig</p></div>
    <div class="section-item" data-id="6"><p>Show all</p></div>
  </div>

  <!-- Middle section with the permit info -->

  <div class="selected-container">

    <%= render "shared/permit_details" %>
    <%= render "shared/excavation_dimensions" %>
    <%= render "shared/services_area" %>
    <%= render "shared/confirmation" %>
    <%= render "shared/mechanical_dig" %>
    <%= render "shared/all" %>

  </div>

<!-- Right side with button and user card -->

  <div class="action-btn-container">
    <% if (@permit.status == "pending approval" && @permit.approver == current_user) %>
      <div class="container-btn-approval">
        <%= link_to 'Approve permit', permit_approve_path(@permit), class: "approve-btn"%>
        <%= link_to 'Reject permit', permit_reject_path(@permit), class: "approve-btn reject-btn" %>
      </div>
    <% elsif (@permit.status == "rejected" || @permit.status == "draft") && (@permit.approver == current_user || @permit.author == current_user) %>
      <%= link_to 'Edit permit', edit_permit_path(@permit), class: "approve-btn edit-btn" %>
    <% end %>
    <% if @permit.status == "draft" || @permit.status == "rejected" && @permit.author == current_user %>
      <%= link_to 'Delete permit', permit_path(@permit), class: "approve-btn reject-btn", method: :delete, data: { confirm: "Deleting permit... Are you sure?" } %>
    <% end %>
    <% if @permit.who_with == current_user && @permit.author == current_user %>
      <%= link_to 'Delete draft', permit_path(@permit), method: :delete, data: { confirm: "Deleting permit... Are you sure?" } %>
        <%= link_to 'Submit for Approval', permit_request_approval_path(@permit), method: :get %>
    <% end %>
    <div class="detail-card-permit">
      <div class="author-avatar">
        <img class="avatar permit-show" src= <%= @permit.author.avatar %> />
        <div class="author-name">
          <p>Author: <%= @permit.author.fullname %></p>
          <p>Role: <%= @permit.author.role %></p>
        </div>
      </div>
      <hr>
      <% if @permit.approver.present? %>
        <div class="approver-avatar">
          <img class="avatar permit-show" src= <%= @permit.approver.avatar %> />
          <div class="approver-name">
            <p>Approver: <%= @permit.approver.fullname %></p>
            <p>Role: <%= @permit.approver.role %></p>
          </div>
        </div>
      <% else %>
        <div class="approver-avatar">
          <p>Approver to be confirmed</p>
        </div>
      <% end %>
    </div>
  </div>
</div>



<script>
  progressOne = document.getElementById("progress-one");
  progressTwo = document.getElementById("progress-two");
  expired = document.getElementById("expired-banner");
  statusBar = document.querySelector(".status-container");
  icons = document.querySelectorAll("i");

  <% if @permit.status == "pending approval" %>
    progressOne.style.backgroundColor = "#1BAA6F";
    icons.forEach(function(icon) {
      icon.style.display = "none";
    })
    icons[2].style.display = "block";
    icons[4].style.display = "block";
    icons[6].style.display = "block";
  <% elsif @permit.status == "rejected" %>
    icons[3].style.color = "#E67E22";
  <% elsif @permit.status == "approved" %>
    progressOne.style.backgroundColor = "#1BAA6F";
    progressTwo.style.backgroundColor = "#1BAA6F";
    icons.forEach(function(icon) {
      icon.style.display = "none";
    })
    icons[2].style.display = "block";
    icons[5].style.display = "block";
    icons[7].style.display = "block";
  <% elsif @permit.status == "expired" %>
    icons.forEach(function(icon) {
      icon.style.color = "#f90606";
    })
    icons[1].style.display = "none";
    icons[0].style.display = "block";
    progressOne.style.backgroundColor = "#f90606";
    progressTwo.style.backgroundColor = "#f90606";
    expired.style.display = "block";
    statusBar.style.opacity = "0.3";
  <% end %>

  var sectionItems = document.querySelectorAll(".section-item");
  sectionItems.forEach((sectionItem) => {
    sectionItem.addEventListener("click", (event) => {
      var deselectedSectionHeader = document.querySelector(".section-header-active");
      var selectedSectionHeader = event.currentTarget;
      deselectedSectionHeader.classList.remove("section-header-active");
      selectedSectionHeader.classList.add("section-header-active");
      var sectionId = event.currentTarget.dataset.id
      var selectedSections = document.querySelectorAll(`div.selected-section`);
      var selectedSection;
      var deselectedSection;
      selectedSections.forEach((element) => {
        if(element.dataset.id == sectionId) {
          selectedSection = element;
        }
        if(element.className == "selected-section show-section") {
          deselectedSection = element;
        }
      });
      if (selectedSection != deselectedSection) {
        selectedSection.classList.add("show-section");
        deselectedSection.classList.remove("show-section");
      }
    });
  });
</script>



















