<div class="body-container">
  <div class="show-cont">
  <div class="top-three-sections">
    <div class="important-details">
      <div class="title-section">
        <h5><%= @permit.title %></h5>
        <h3><%= @permit.permit_type %></h3>
        <p><%= @permit.works_description %></p>
        <p>Level: <%= @permit.level %></p>
        <p>Location: <%= @permit.location %></p>
        <p>No: <%= @permit.permit_number %></p>
        <p>MS: <%= @permit.method_statement %></p>


        <div class="show-buttons">
          <button class="btn btn-green">Submit for approval</button>
          <!-- <div class="ed-del-buttons"> -->
            <button class="btn btn-green">Edit</button>
            <button class="btn btn-green">Delete</button>
          <!-- </div> -->
        </div>



      </div>

      <div class="status-section">
        <h3>Status</h3>
        TODO - DOTS
        <%= @permit.status %>

        <h3>Validity</h3>
        <%= @permit.start_date %>
        <%= @permit.end_date %>
        <p id="permit-validity"></p>
        <p id="permit-expires-in"></p>
      </div>
    </div>


    <div class="main-content">
      <div id="section-1">
        <%= render "shared/all" %>
      </div>
    </div>
  </div>

  <hr>

  <div class="bottom-bar">
    <div class="workers">
      <div class="people-show">
        <img class="avatar" src="<%= @permit.author.avatar %>" alt="">
        <div>
          <p>Author:</p>
          <p><%= @permit.author.fullname %></p>
        </div>
      </div>
      <hr>
      <div class="people-show">
        <img class="avatar" src="<%= @permit.approver.avatar %>" alt="">
        <div>
          <p>Approver:</p>
          <p><%= @permit.approver.fullname %></p>
        </div>
      </div>
    </div>
    <div class="comment-section">
      <p>Add a comment</p>
      <p>comments box</p>
    </div>
    <div>
      <p>something else</p>
    </div>
  </div>
</div>

