

    <h4 id="headers-permit">Section 1 - Permit Details</h4>
<div class="container-permit-details">
  <div class="permit-details-left">
    <p>Project <%= @permit.project_id %></p>
    <p>number: <%= @permit.permit_number %></p>
    <p>Start date: <%= @permit.start_date.strftime("%d-%m-%Y") %> at <%= @permit.start_date.strftime("%I:%M%p") %></p>
    <p>Expiry date: <%= @permit.end_date.strftime("%d-%m-%Y") %> at <%= @permit.end_date.strftime("%I:%M%p") %></p>
    <% if @permit.status == "draft" %>
        <p><i><strong>DRAFT</strong></i></p>
      <% elsif @permit.status == "pending approval" %>
        <p>Awaiting approval from <strong><%= @approver %></strong></p>
      <% elsif @permit.status == "approved" %>
        <p>Approved by: <%= @approver %></p>
      <% elsif @permit.status == "rejected" %>
        <p>Permit rejected by: <%= @approver %></p>
      <% elsif @permit.status == "expired" %>
        <p><strong>Permit expired</strong></p>
      <% end %>
    </div>

      <div class="permit-details-right">
        <p>Permit title: <%= @permit.title %></p>
        <p>Level : <%= @permit.level %></p>
        <p>Location : <%= @permit.location %> </p>
        <p>Method Statement: <%= @permit.method_statement %></p>
        <p>Permit Type: <%= @permit.permit_type %></p>
      </div>

    <div class="detail-card-permit" style= "height: 100%;">
      <div class="author-avatar">
        <img class="avatar" src= <%= @permit.author.avatar %> />
        <div class="author-name">
          <p>Author: <%= @permit.author.fullname %></p>
          <p>Role: <%= @permit.author.role %></p>
        </div>
      </div>
      <hr>
      <div class="approver-avatar">
        <img class="avatar" src= <%= @permit.approver.avatar %> />
        <div class="approver-name">
          <p>Approver: <%= @permit.approver.fullname %></p>
          <p>Role: <%= @permit.approver.role %></p>
        </div>
      </div>
    </div>

  </div>
</div>

<hr>

    <h4 id="headers-permit">Section 2 - Excavation dimensions</h4>
<div class="container">
  <div class="excavation">
    <p>xwidth: <%= @permit.xwidth %>mm</p>
    <p>xdepth: <%= @permit.xdepth %>mm</p>
    <p>xlength: <%= @permit.xlength %>m</p>
  </div>
</div>

<hr>

    <h4 id="headers-permit">Section 3 - Services located within the area</h4>
<div class="container">
  <div class="excavation">

    <% @permit.attributes.to_a[(13..24)].each do |ele| %>
      <% if ele[1] == true %>
        <p><%= ele[0].gsub(/_/, " ").capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>

<hr>

    <h4 id="headers-permit">Section 4 - Confirmation</h4>
<div class="container">
  <div class="excavation">
    <p>Cat Scanner model: <%= @permit.cat_scan_model %> | Serial number: <%= @permit.cat_scanner_serial %></p>
    <p>Genny model: <%= @permit.genny_model %> | Serial number: <%= @permit.genny_serial %></p>
    <p>Operator: <%= @permit.cat_genny_operator %></p>
    <p>Calibration expires: <%= @permit.calibration_expires.strftime("%d-%m-%Y") %></p>
    <p>Modes used:</p>
    <ul>
      <% if @permit.cat_mode_power == true %>
        <li>Power <i class="far fa-check-circle"></i></li>
        <% else %>
        <li>Power <i class="far fa-times-circle"></i></li>
      <% end %>
     <% if @permit.cat_mode_radio == true %>
        <li>Radio <i class="far fa-check-circle"></i></li>
     <% else %>
        <li>Radio <i class="far fa-times-circle"></i></li>
     <% end %>
     <% if @permit.cat_mode_transmitter == true %>
        <li>Transmitter <i class="far fa-check-circle"></i></li>
     <% else %>
        <li>Transmitter <i class="far fa-times-circle"></i></li>
     <% end %>
    </ul>
  </div>
</div>

<hr>
    <h4 id="headers-permit">Section 5 - Mechanical Dig</h4>
<div class="container">
  <div class="excavation">

    <% @permit.attributes.to_a[(25..33)].each do |ele| %>
      <% if ele[1] == true %>
        <p class="tag"><%= ele[0].gsub(/_/, " ").capitalize %></p>
      <% end %>
    <% end %>
  </div>
</div>

<hr>


<% if (@permit.status == "pending approval" && @permit.approver == current_user) %>
<div class="container-btn-approval">
    <%= link_to 'Approve permit', permit_approve_path(@permit), class: "approve-btn"%>
    <%= link_to 'Reject permit', permit_reject_path(@permit), class: "approve-btn reject-btn" %>
  </div>
<% elsif (@permit.status == "rejected" || @permit.status == "draft") && (@permit.approver == current_user || @permit.author == current_user) %>
<%# elsif (@permit.status == "rejected" && @permit.approver == current_user || @permit.author == current_user) %>
  <%= link_to 'edit', edit_permit_path(@permit) %>
<% end %>

<% if @permit.status == "draft" && @permit.author == current_user %>
  <%= link_to 'Delete draft', permit_path(@permit), method: :delete, data: { confirm: "Deleting permit... Are you sure?" } %>
<% end %>





















