<h2><%= @permit.title %></h2>
<h4>Project <%= @permit.project_id %></h4>
<h4><%= @permit.location %> - <%= @permit.level %></h4>
<p><%= @permit.permit_type %>: <%= @permit.permit_number %>
<p>Date created: <%= @permit.created_at.strftime("%d-%m-%Y") %> at <%= @permit.created_at.strftime("%I:%M%p") %></p>
<p>Start date: <%= @permit.start_date.strftime("%d-%m-%Y") %> at <%= @permit.start_date.strftime("%I:%M%p") %></p>
<p>Expiry date: <%= @permit.end_date.strftime("%d-%m-%Y") %> at <%= @permit.end_date.strftime("%I:%M%p") %></p>
<p>Method Statement: <%= @permit.method_statement %></p>
<p>Created by: <%= @author %></p>

<% if @permit.status == "draft" %>
  <p><i><strong>DRAFT</strong></i></p>
<% elsif @permit.status == "pending approval" %>
  <p>Awaiting approval from <strong><%= @approver %> - phone number in permit but not user table</strong></p>
<% elsif @permit.status == "approved" %>
  <p>Approved by: <%= @approver %> - phone number in permit but not user table</p>
<% elsif @permit.status == "rejected" %>
  <p>Permit rejected by: <%= @approver %> - phone number in permit but not user table</p>
<% elsif @permit.status == "expired" %>
  <p><strong>Permit expired</strong></p>
<% end %>
<hr>

<h4>Excavation dimensions:</h4>
<p>xwidth: <%= @permit.xwidth %>mm</p>
<p>xdepth: <%= @permit.xdepth %>mm</p>
<p>xlength: <%= @permit.xlength %>m</p>

<hr>

<h4>Confirmation:</h4>
<p>Cat Scanner model: <%= @permit.cat_scan_model %> - Serial number: <%= @permit.cat_scanner_serial %></p>
<p>Genny model: <%= @permit.genny_model %> - Serial number: <%= @permit.genny_serial %></p>
<p>Operator: <%= @permit.cat_genny_operator %></p>
<p>Calibration expires: <%= @permit.calibration_expires.strftime("%d/%m/%Y") %></p>
<p>Modes used:</p>
<ul>
 <% if @permit.cat_mode_power == true %>
 <li>Power <i class="far fa-check-circle"></i></li>
 <% else %>
 <li>Power <i class="far fa-times-circle"></i></li>
 <% end %>
 <% if @permit.cat_mode_radio == true %>
 <li>Radio <i class="far fa-check-circle"></i></li>
 <% else %>
 <li>Radio <i class="far fa-times-circle"></i></li>
 <% end %>
 <% if @permit.cat_mode_transmitter == true %>
 <li>Transmitter <i class="far fa-check-circle"></i></li>
 <% else %>
 <li>Transmitter <i class="far fa-times-circle"></i></li>
 <% end %>
</ul>

<hr>

<h4>Mechanical Dig:</h4>

<% @permit.attributes.to_a[(25..33)].each do |ele| %>
  <% if ele[1] == true %>
    <p><%= ele[0].gsub(/_/, " ").capitalize %> <i class="far fa-check-circle"></i></p>
  <% end %>
<% end %>

<hr>

<h4>Servies located within the area:</h4>

<% @permit.attributes.to_a[(13..24)].each do |ele| %>
  <% if ele[1] == true %>
    <p><%= ele[0].gsub(/_/, " ").capitalize %></p>
  <% end %>
<% end %>

<hr><hr>

<% if (@permit.status == "pending approval" && @permit.approver == current_user) %>
<p><%= link_to 'approve', permit_approve_path(@permit)%></p>
<p><%= link_to 'reject', permit_reject_path(@permit) %></p>
<% end %>
