<div class="container col-6">
  <div class="session-box">

    <h3 style="padding-bottom: 20px; padding-top: 30px;">Log in to emerald</h3>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.input :email,
                      class: "input-field",
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      placeholder: 'Email address or phone number',
                      error: 'Please enter a valid email address or phone number' %>
          <%= f.input :password,
                      class: "input-field",
                      label: false,
                      required: false,
                      input_html: { autocomplete: "Current-password" },
                      placeholder: 'Password' %>
          <!-- <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
        </div>

      <div class="action-field" style="padding-top: 20px;">
        <%= f.button :submit, "Sign in", class: "btn-green2 btn-log-in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
