<div class="container col-6">
  <div class="session-box">
    <div class="session-header">
      <%= image_tag("logo-emerald-lrg-bright.png", size: "92x92") %>
      <h2>emerald</h2>
    </div>

    <h3>log in</h3>

      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div>
          <%= f.input :email,
                      class: "input-field",
                      label: false,
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" },
                      placeholder: 'email address or phone number',
                      error: 'please enter a valid email address or phone number' %>
          <%= f.input :password,
                      class: "input-field",
                      label: false,
                      required: false,
                      input_html: { autocomplete: "current-password" },
                      placeholder: 'password' %>
          <!-- <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %> -->
        </div>

      <div class="action-field">
        <%= f.button :submit, "sign in" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
